:root {
    --primary-color: #f9f9f9;
    --secondary-color: #000;
    --primary-dark-color: #000;
    --secondary-dark-color: #f4e87c;
    --bg-color: #f9f9f9;
    --bg-dark-mode: #10101a;
    --white: #fff;
    --black: #000;
    --yellow: #fd0;
    --slider-button-color-a: #fff;
    --slider-button-color-b: #10101a;
    --btn-color-a: #2a82ef;
    --btn-color-hover: #6caeff;
}

* {
    font-family: Montserrat!important;
    padding: 0;
    margin: 0;
    transition: .7s;
    color: var(--primary-text-color);
}

body {
    background: var(--bg-color);
}

section {
    margin: 1.5vh 0;
}

hr {
    border: none;
    background: #000;
    height: 10px;
}

/* === GRID === */

.full-width {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.fit-to-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.pd-1 {
    padding: 1vh;
}

.pd-2 {
    padding: .5%;
}

.pd-3 {
    padding: .7%;
}

.pd-4 {
    padding: 1%;
}

.pt-1 {
    padding-top: .3%;
}

.pt-2 {
    padding-top: .5%;
}

.pt-3 {
    padding-top: .7%;
}

.pt-4 {
    padding-top: 1%;
}

.pb-1 {
    padding-bottom: .3%;
}

.pb-2 {
    padding-bottom: .5%;
}

.pb-3 {
    padding-bottom: .7%;
}

.pb-4 {
    padding-bottom: 1%;
}

.mg-1 {
    margin: 1vh;
}

.mg-2 {
    margin: .5%;
}

.mg-3 {
    margin: .7%;
}

.mg-4 {
    margin: 1%;
}

.mt-1 {
    margin-top: .3%;
}

.mt-2 {
    padding-top: .5%;
}

.mt-3 {
    padding-top: .7%;
}

.mt-4 {
    padding-top: 1%;
}

.mr-1 {
    margin-right: .3%;
}

.mr-2 {
    padding-right: .5%;
}

.mr-3 {
    padding-right: .7%;
}

.mr-4 {
    padding-right: 1%;
}

.mb-1 {
    padding-bottom: .3%;
}

.mb-2 {
    padding-bottom: .5%;
}

.mb-3 {
    padding-bottom: .7%;
}

.mb-4 {
    padding-bottom: 1%;
}

/* === ALIGNMENTS === */

.align-center {
    align-content: center;
    text-align: center;
}

.align-right {
    align-content: right;
    text-align: right;
}

.align-left {
    align-content: left;
    text-align: left;
}

.align-middle {
    align-items: center!important;
    vertical-align: middle!important;
}

.align-img-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.align-object-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ml-auto {
    margin-left: auto;
}

/* TEXTS */

h1 {
    font-size: 200%;
    font-weight: 800;
    letter-spacing: 5px;
}

p {
    color: #303030;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.justify {
    text-align: justify;
}

li {
    padding: .7% 0;
    list-style-position: inside;
}

ul, ol {
    padding: 0;
}

/* === FORMS === */

fieldset {
    border: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 97%;
    border: none;
    border-radius: 3px;
    padding: 2% 0;
    padding-left: 2%;
    margin: 1% 0;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    background: #fffcc8;
}

/* CHECKBOX */

input[type='checkbox'] {
    top: 4px;
    margin: 1% 0;
    width: 6%;
    height: 23px;
    position: relative;
    background: #000;
    border: 20px solid #fff!important;
}

input[type='checkbox']:checked {
    top: 4px;
    margin: 1% 0;
    width: 6%;
    height: 23px;
    position: relative;
    background: var(--secondary-color)!important;
    border: 2px solid var(--secondary-color)!important;
}

input[type='checkbox'] + label {
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #232426;
    padding: 0;
}

input[type='checkbox']:hover, label:hover {
    cursor: default!important;
}

/* RADIO */

input[type='radio'] {
    top: 4px;
    margin: 1% 0;
    width: 6%;
    height: 23px;
    position: relative;
    border-radius: 100%;
    background: var(--secondary-color)!important;
    border: 2px solid var(--secondary-color)!important;
}

input[type='radio']:checked {
    top: 4px;
    margin: 1% 0;
    width: 6%;
    height: 23px;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    background: var(--secondary-color)!important;
    border: 2px solid var(--secondary-color)!important;
}

input[type='radio'] + label {
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #232426;
    padding: 0;
}

/* SELECT */

select {
    width: 97%;
    border: none;
    border-radius: 3px;
    padding: 2% 0;
    padding-left: 2%;
    margin: 1% 0;
    background: #fff;
}

select + option {
    width: 100%;
}

/* === SEARCH BAR === */

input[type=search] {
    background: #fff;
    width: 90%;
    border: none;
    border-radius: 3px;
    padding: 4% 0;
    padding-left: 2%;
    margin-right: 1%;
    outline: none;
    color: #000;
}

/* === BUTTONS === */

input[type=button], input[type=submit], button {
    border: none;
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: var(--btn-color-a);
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background: var(--btn-color-hover);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/* LABEL = TYPE FILE SHAPE */

label {
    display: inline-block;
    border: none;
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: var(--btn-color-a);
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

label:hover {
    background: var(--btn-color-hover);
}

/* SHAPES */

.btn-minimal {
    border: solid 1px;
    border-color: var(--btn-color-a);
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: none;
    color: var(--btn-color-a);
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

.btn-minimal:hover {
    background: var(--btn-color-hover);
    color: #fff;
    border-color: var(--btn-color-hover);
}

.btn-neon-blue {
    border: solid 1px;
    border-color: #1273eb;
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: none;
    color: #1273eb;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
    box-shadow: 0 0 5px #1273eb;
    text-shadow: 0 0 1px #1273eb;
}

.btn-neon-blue:hover {
    border: solid 1px;
    border-color: var(--btn-color-hover);
    border-radius: 2px;
    background: var(--btn-color-hover);
    color: #fff;
    box-shadow: 0 0 02px #1273eb,
                0 0 05px #1273eb,
                0 0 10px #1273eb,
                0 0 20px #1273eb;
}

/* SWITCH BUTTON */

.btn-switch input {
    display: none;
}

.btn-switch {
    position: relative;
    display: inline-block;
    height: 28px;
    padding: 3px 30px;
    margin: 0 0 -4px 0;
    background: none;
    border: none;
}

.btn-switch:hover {
    background: none;
}

/* Background */
.btn-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--slider-button-color-b);
    border-radius: 34px;
    transition: .4s;
}

/* Bolinha */
.btn-slider:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    bottom: 16%;
    left: 10%;
    background: var(--slider-button-color-a);
    border-radius: 50%;
    transition: .4s;
}

/* Background Checked */
input:checked + .btn-slider {
    background: var(--slider-button-color-a);
}

input:checked + .btn-slider:before {
    transform: translateX(25px);
}

/* TOGGLE BUTTON (HAMBURGER MENU) */

.nav-toggle-menu {
    display: none;
    justify-content: center;
    align-items: center;
}
  
.nav-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

.nav-btn-hamb {
    width: 50px;
    height: 6px;
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.nav-btn-hamb::before, .nav-btn-hamb::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.nav-btn-hamb::before {
    transform: translateY(-16px);
}

.nav-btn-hamb::after {
    transform: translateY(16px);
}
  
/* TOGGLE EFFECT */
  
.nav-btn.open .nav-btn-hamb {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
  
.nav-btn.open .nav-btn-hamb::before {
    transform: rotate(45deg) translate(35px, -35px);
}
  
.nav-btn.open .nav-btn-hamb::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* === DARK MODE === */

.dark-mode {
    background: var(--bg-dark-mode);
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode a, .dark-mode li {
    color: var(--secondary-dark-color);
}

.dark-mode hr {
    background: var(--secondary-dark-color);
}

.dark-mode p {
    color: #f8f8f8;
}

.dark-mode .nav-btn-hamb::before, .dark-mode .nav-btn-hamb::after, .dark-mode .nav-btn-hamb {
    background: var(--secondary-dark-color);
}

.dark-mode .btn-slider:before {
    background: var(--primary-dark-color);
}

.dark-mode input[type='checkbox'] + label, .dark-mode input[type='radio'] + label {
    color: var(--secondary-dark-color);
}

/* === NAV MENU === */

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding-right: 1%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item a {
    text-decoration: none;
    padding: 0 20px;
    background: transparent;
}

.nav-item {
    margin: 0 4px;
    border-radius: 8px;
    border: solid 1px #000;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: none;
    background: #f2f2f2;
}

/* === TABLES === */

table {
    width: 100%;
    background: none;
    border-collapse: collapse;
    border: none;
}

th {
    border: 1px solid #53a0ff;
    padding: 1.3%;
    background: #1273eb;
    color: #fff;
}

td {
    border: 1px solid #53a0ff;
    padding: 0 1%;
    background: #f2f2f2;
}

/* === EFFECTS === */

.fx-grow {
    transition-duration: .3s;
}

.fx-grow:hover {
    transform: scale(1.2);
}

.fx-rotate {
    transition-duration: .3s;
}

.fx-rotate:hover {
    transform: rotate(93deg);
}

.fx-zoom-out {
    transition-duration: .3s;
}

.fx-zoom-out:hover {
    transform: scale(.5);
}

.fx-rotate-360 {
    transition-duration: .3s;
}

.fx-rotate-360:hover {
    transform: rotate(360deg);
}

.fx-neon-blue {
    transition-duration: .3s;
}

.fx-neon-blue:hover {
    box-shadow: 0 0 02px #1273eb,
                0 0 05px #1273eb,
                0 0 10px #1273eb,
                0 0 20px #1273eb;
}

/* MEDIA RULES */

@media (max-width: 888px) {
    .container {
        width: 100%;
    }
    .full-width {
        min-width: 100%
    }
    .nav-menu {
        width: 100%;
        padding-right: 0;
    }
    .nav-list {
        display: block;
        justify-content: space-around;
        text-align: center;
    }
    .nav-item {
        border: none;
        padding: 10px 0;
        margin: .5vh 0;
    }
    #brand {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}