:root {
    --text-color: #000;
}

* {
    font-family: Montserrat!important;
    margin: 0;
    color: var(--text-color);
}

body {
    background: #fd0;
    transition: .7s;
}

section, header, footer {
    padding: 3% 0;
}

hr {
    border: none;
    background: #000;
    height: 10px;
}

/* TEXTS */

h1, h2, h3, h4, h5, h6 {
    padding: .5% 0;
    transition: .7s;
}

h1 {
    font-size: 200%;
    font-weight: 800;
    letter-spacing: 6px;
}

p {
    padding: .4% .6%;
    color: #303030;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

li {
    padding: 1.7% 0;
}

ul, ol {
    padding: 0;
}

/* FORMS */

/*
form {

}
*/

fieldset {
    border: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 97%;
    border: none;
    border-radius: 3px;
    padding: 2% 0;
    padding-left: 2%;
    margin: 1% 0;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    background: #fffcc8;
}

input[type=button], input[type=submit], button {
    border: none;
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: #1273eb;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background: #2a82ef;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/* LABEL = TYPE FILE MASK */

label {
    border: none;
    border-radius: 2px;
    padding: 10px 25px;
    background: #1273eb;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

label:hover {
    background: #2a82ef;
}

/* CHECKBOX */

input[type='checkbox'] {
    top: 4px;
    margin: 1% 0;
    width: 50px;
    height: 23px;
    position: relative;
    background: #fff;
    border: 2px solid #1273eb;
}

input[type='checkbox']:checked {
    top: 4px;
    margin: 1% 0;
    width: 50px;
    height: 23px;
    position: relative;
    background: #1273eb;
    border: 2px solid #1273eb;
}

input[type='checkbox'] + label {
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #232426;
    padding: 0;
}

input[type='checkbox']:hover, label:hover {
    cursor: default!important;
}

/* RADIO */

input[type='radio'] {
    top: 4px;
    margin: 1% 0;
    width: 50px;
    height: 23px;
    position: relative;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #1273eb;
}

input[type='radio']:checked {
    top: 4px;
    margin: 1% 0;
    width: 50px;
    height: 23px;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    background: #1273eb;
    border: 2px solid #1273eb;
}

input[type='radio'] + label {
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #232426;
    padding: 0;
}

/* SELECT */

select {
    width: 97%;
    border: none;
    border-radius: 3px;
    padding: 2% 0;
    padding-left: 2%;
    margin: 1% 0;
}

select + option {
    width: 100%;
}

/* SEARCH BAR */

input[type=search] {
    background: #fff;
    width: 90%;
    border: none;
    border-radius: 3px;
    padding: 4% 0;
    padding-left: 2%;
    margin: 1% 1% 1% 0;
    outline: none;
    color: #000;
}

/****************************************/

/* GRID */

.full-width {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background: #fd0;
}

.fit-to-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
.flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.pt-1 {
    padding-top: .3%;
}

.pt-2 {
    padding-top: .5%;
}

.pt-3 {
    padding-top: .7%;
}

.pt-4 {
    padding-top: .9%;
}

.pb-1 {
    padding-bottom: .3%;
}

.pb-2 {
    padding-bottom: .5%;
}

.pb-3 {
    padding-bottom: .7%;
}

.pb-4 {
    padding-bottom: 1%;
}

/* ALIGNMENTS */

.align-center {
    align-content: center;
    text-align: center;
}

.align-right {
    align-content: right;
    text-align: right;
}

.align-left {
    align-content: left;
    text-align: left;
}

.align-img-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.align-object-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TEXTS */

.uppercase {
    text-transform: uppercase;
}

.justify {
    text-align: justify;
}

/* BUTTONS */

.btn-minimal {
    border: solid 1px;
    border-color: #1273eb;
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: none;
    color: #1273eb;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

.btn-minimal:hover {
    background: none;
    color: #2a82ef;
    border-color: #2a82ef;
}

.btn-neon-blue {
    border: solid 1px;
    border-color: #1273eb;
    border-radius: 2px;
    margin: 8px 0;
    padding: 10px 25px;
    background: none;
    color: #1273eb;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
    box-shadow: 0 0 5px #1273eb;
    text-shadow: 0 0 1px #1273eb;
}

.btn-neon-blue:hover {
    border: solid 1px;
    border-color: #1273eb;
    border-radius: 2px;
    background: #1273eb;
    color: #fff;
    box-shadow: 0 0 02px #1273eb,
                0 0 05px #1273eb,
                0 0 10px #1273eb,
                0 0 20px #1273eb;
}

/* DARK MODE BUTTON */

/* Classe duplicada bugada que, se removida altera propriedade do botão */
input[type='checkbox']:hover, label:hover {
    cursor: default!important;
}

.btn-dark-switch input {
    display: none;
}

.btn-dark-switch {
    position: relative;
    display: inline-block;
    height: 28px;
    padding: 3px 30px;
    margin: 0 0 -4px 0;
    background: none;
    border: none;
}

.btn-dark-switch:hover {
    background: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    border-radius: 34px;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    bottom: 16%;
    left: 10%;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background: #fd0;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

.dark-mode {
    background: #0b0a14;
}

.dark-mode h1 {
    color: #f7f0e9;
}

/* MENUS */

/*
nav, .nav-item {
    
}
*/

nav {
    margin: 0;
    padding: 0;
}

.nav-menu {
    margin: 0;
}

.nav-item {
    margin: 30px 10px;
    padding: 1.3% 1.8%;
    background: #f8f8f8;
    transition-duration: .3s;
}

.nav-item + a {
    margin: 30px 10px;
    background: #f95f6f;
}

.nav-item:hover {
    text-decoration: none;
    background: #f2f2f2;
}

/* COLORS */

.bg-gray {
    background: #f7f7f7;
}

/* TABLES */

table {
    width: 100%;
    background: none;
    border-collapse: collapse;
    border: none;
}

th {
    border: 1px solid #53a0ff;
    padding: 1.3%;
    background: #1273eb;
    color: #fff;
}

td {
    border: 1px solid #53a0ff;
    padding: 0 1%;
    background: #f2f2f2;
}

/* EFFECTS */

.fx-grow {
    transition-duration: .3s;
}

.fx-grow:hover {
    transform: scale(1.2);
}

.fx-rotate {
    transition-duration: .3s;
}

.fx-rotate:hover {
    transform: rotate(93deg);
}

.fx-zoom-out {
    transition-duration: .3s;
}

.fx-zoom-out:hover {
    transform: scale(.5);
}

.fx-rotate-360 {
    transition-duration: .3s;
}

.fx-rotate-360:hover {
    transform: rotate(360deg);
}

.fx-neon-blue {
    transition-duration: .3s;
}

.fx-neon-blue:hover {
    box-shadow: 0 0 02px #1273eb,
                0 0 05px #1273eb,
                0 0 10px #1273eb,
                0 0 20px #1273eb;
}

/* GRADIENTS */

/* TOGGLE BUTTON */

.nav-toggle-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nav-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

.nav-btn-hamb {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.nav-btn-hamb::before, .nav-btn-hamb::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.nav-btn-hamb::before {
    transform: translateY(-16px);
}

.nav-btn-hamb::after {
    transform: translateY(16px);
}
  
/* TOGGLE EFFECT */
  
.nav-btn.open .nav-btn-hamb {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
  
.nav-btn.open .nav-btn-hamb::before {
    transform: rotate(45deg) translate(35px, -35px);
}
  
.nav-btn.open .nav-btn-hamb::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* MEDIAS */

@media (min-width: 1px) {
    .container {
        max-width: 130px;
    }
}

@media (min-width: 200px) {
    .container {
        max-width: 180px;
    }
}

@media (min-width: 280px) {
    .container {
        max-width: 236px;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 410px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
